ansicolors==1.1.8
build-pyoptsparse==2.0.6
certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
dymos==1.8.0
fonttools==4.42.1
idna==3.4
kiwisolver==1.4.5
matplotlib==3.7.2
mdolab-baseclasses==1.8.0
mpi4py==3.1.4
networkx==3.1
numpy==1.25.2
openaerostruct==2.7.0
openmdao==3.27.0
packaging==23.1
petsc==3.19.4
petsc4py==3.19.4
Pillow==10.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.31.0
scipy==1.10.1
six==1.16.0
sqlitedict==2.1.0
urllib3==2.0.4
